{% extends "base.html" %}

{% block title %}회원가입 | AfterMuse{% endblock %}

{% block content %}
  <section aria-labelledby="signup-title">
    <h1 id="signup-title">회원가입</h1>
    <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <p>
        <label for="{{ form.username.id_for_label }}">아이디</label>
        {{ form.username }}
        {{ form.username.errors }}
      </p>
      <p>
        {{ form.password1.label_tag }}
        {{ form.password1 }}
        {{ form.password1.errors }}
      </p>
      <p>
        {{ form.password2.label_tag }}
        {{ form.password2 }}
        {{ form.password2.errors }}
      </p>
      <button type="submit">회원가입</button>
    </form>
  </section>
{% endblock %}
